
body {
  background: black;
  overflow: hidden;
}

* {
  /* font-family: 'Roboto Mono', monospace; */
}

.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.three-d-paper {
  height: 250px;
  width: 250px;
  margin : auto;
  border: 1px solid black;
  /* transform: scale(1) rotateY(137deg) rotateX(45deg) translateZ(0rem); */
  
  transform: scale(1) rotateY(
32deg
) rotateX(
18deg
) translate3d(0, 0, 0rem);
  
  position: absolute;
    top: 300px;
    left: 300px;
    background: #000000a3;
    background: red;
    border-radius: 18px;
    z-index: 3;
    transform-origin: bottom;

}

@keyframes mymove {
  0% {transform: scale(1) rotateY(
    10deg
    ) rotateX(
    45deg
    ) translateZ(7rem) translate3d(0px, 0px, 0px);}
    35% {
  /* to {transform: scale(1) rotateY( 
  
    20deg
     ) rotateX( 
    81deg
     ) 
     translateZ(-6rem) translate3d(0px, 0px, 0px) */
     /* translateZ(-6rem) translate3d(0px, 0px, 0px) */
     /* transform: scale(1) rotateY( 
      10deg
       ) rotateX( 
      76deg
       ) translateZ(-4rem) translate3d(70px, 242px, 0px); */

       transform: scale(1) rotateY( 
      10deg
       ) rotateX( 
      80deg
       ) translateZ(-2rem) translate3d(170px, 241px, 0px);
       /* z-index: -1; */
       
      }

      60% {

        transform: scale(1) rotateY( 
      10deg
       ) rotateX( 
      80deg
       ) translateZ(-2rem) translate3d(140px, -200px, 0px);
       z-index: -1;
       opacity: 0.8;

      }

      100% {

        transform: scale(1) rotateY( 
      10deg
       ) rotateX( 
      45deg
       ) 
       /* translateZ(-2rem) translate3d(140px, -200px, 0px)
        */
        translateZ(-9rem) translate3d(35px, -280px, 0px);
        z-index: -1;
        opacity: .8;
       ;
       

      }
      
     
}



.three-d-paper2 {
  height: 250px;
  width: 250px;
  margin : auto;
  border: 1px solid black;
  
  position: absolute;
    top: 300px;
    left: 300px;
    background: red;
    border-radius: 18px;
    transition: all .2s;
    /* animation: mymove 2.5s 1 ease-out; */
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  /* perspective: 100px; */
  transform-origin: bottom;
  padding-top: 50px;

  /* transform: scale(1) rotateY(20deg) rotateX(45deg) translateZ(4rem); */
  /* transform: scale(1) rotateY(
20deg
) rotateX(
45deg
) translateZ(7rem) translate3d(0px, 159px, 0px); */

}

.three-d-paper2:hover {
  
  /* transform: scale(1) rotateY(0deg) rotateX(45deg) translateZ(-14rem); */
}

.three-d-paper3 {
  height: 250px;
  width: 250px;
  margin : auto;
  border: 1px solid black;
  /* transform: scale(1) rotateY(137deg) rotateX(45deg) translateZ(-9rem) translate3d(20px, -180px, 0px); */
  position: absolute;
    top: 300px;
    left: 300px;
    background: blue;
    border-radius: 18px;
    z-index: 1;


    transform: scale(1) rotateY(
137deg
) rotateX(
18deg
) translateZ(-9rem) translate3d(0px, -90px, 0px);


transform: scale(1) rotateY( 
32deg
 ) rotateX( 
18deg
 ) translate3d(0px, -100px, -100px);

}

.animate {
  transform: scale(1) rotateY( 
    157deg
     ) rotateX( 
    74deg
     ) translate3d(0, 32px, 0rem);
     transition: all 2s;

     transform: scale(1) rotateY( 
32deg
 ) rotateX( 
74deg
 ) translate3d(-100px, 0, -20px);
}

.content {
  width: 100%;
  height: 100%;
  font-size: 8px;
  overflow: auto;
  transform: translateX(-75%);
  transform: translateX(-150%) scale(2);
  /* transform: translateX(0) !important;
  transform: translate3d(-75%, 0, 0) !important; */
  /* -moz-osx-font-smoothing: grayscale; */
  -moz-osx-font-smoothing: auto;
}

.title-line-2 {
  margin-bottom: 50px;
  font-size: 30px;
}



.wrapper {
  width: 140px;
  height: 90px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* background: yellow; */
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3a6793, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: linear-gradient(to top, #172b62b5, #02022aa8);
opacity: 1;
color: white;
overflow: hidden;
border: 1px solid #1ea394;
/* border-color: rgb(29, 72, 100); */
  box-sizing: border-box;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000008c;
  /* background: linear-gradient(to top, #172b62b5, #02022aa8); */
  /* background: #02022aa8; */
  /* background: #172b62b5; */

}

.box {
  overflow: auto;
  background: #0000008c;
  margin: auto;
  width: 100%;
  height: 100%;
  
  margin-bottom: 5px;
  
  /* border: 1px solid white; */
}

.inner-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.img-container {
  width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    /* margin: 5px; */
    box-sizing: border-box;
    /* box-shadow: 0px 0px 3px; */
}

.img-prof-pic {
  width: 100%;
  /* height: 100%; */

}

.btn-view-profile {
  padding: 0;
  /* height: 18px; */
  margin: auto;
  /* margin-left: 5px; */
  margin-right: 10px;
  font-size: 5px;
  padding: 4px 4px;
  background: white;
  /* border: none; */
  border-radius: 5px;
  /* margin-bottom: 8px; */
  border: 1px solid black;
  /* background: black; */

  color: white;
  border-color: white;
  background: #0000008c;
  background: #1ea394;
  box-shadow: 0px 0px 3px;
  box-shadow: 0px 0px 18px;
  box-shadow: 0px 0px 3px #2ae0ff;
  box-shadow: 0px 0px 1px white;
  /* box-shadow: 0px 0px 18px #ffffff3b; */
  /* border: none; */
  box-sizing: border-box;
  /* border-color: #ffffffb5; */
  /* flex: 1; */

  /* color: #1ea394;
    background: #161616f7; */
    border: none;
    /* width: 40px; */

    font-weight: bold;
    font-size: 4px;
    color: black;
    cursor: pointer;
    transition: 0.2s all;

}

.btn-view-profile:hover {
  background: black;
  color: white;
  /* box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.562); */
}

.top-row {
  display: flex;
  width: 100%;
  /* margin: 5px; */
  box-sizing: border-box;
  padding: 5px 10px 0 10px;
}

.net-worth-amount {
  margin: auto;
  font-size: 16px;
  text-align: end;
}

.name-container {
  margin: auto;
  font-size: 9px;
  flex-wrap: wrap;
  display: flex;
  text-align: initial;
  /* padding: 0 10px; */
  margin-left: 10px;
  width: 49%;

  width: 50px;
    margin-right: 10px;
  /* flex-direction: column */
}

.heading-rank {
  color: white;
  padding: 60px 15%;
  font-size: 57px;
  font-size: 70px;
  /* font-size: 33px; */
  position: absolute;
  z-index: 99999999999;
  /* line-height: 0px; */
  margin: 0;
  padding: 0;
  top: 30px;
  left: 60px;

}

.heading-rank2 {
  color: white;
  padding: 60px 15%;
  font-size: 57px;
  font-size: 33px;
  /* position: absolute; */
  z-index: 99999999999;
  /* line-height: 0px; */
  margin: 0;
  padding: 0;
  /* top: 100px; */
  /* top: 20px; */
  top:30px;
  left: 60px;
  margin: auto;

}

.page-title {
  position: absolute;
  top: 30px;
  right: 140px;
  right: 7%;
  font-size: 45px;
  color: white;
  margin-top: 0px;
  font-size: 56px;
  /* font-family: 'Roboto Mono', monospace; */
  z-index: 999999999999999999999999999999999;



  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  line-height: 64px;
  display: flex;
  flex-direction: column;

}

.page-title-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: white;
  z-index: 99999999999999999999999999999;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
}

.title-line-1-mobile {
  color: white;
  z-index: 99999999999999999999999999999;
  display: block;
  font-size: 36px;
  margin-bottom: 5px;
}

.title-line-2-mobile {
  color: white;
  font-size: 20px;
}


.rankNum {
  font-size: inherit;
  font-size: 66px;
  min-width: 90px;
}

.the-rank {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 20px;
}

.next-prev-btns-container {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.icon-next {
  color: white;
    margin: auto;
    font-size: 28px;
    /* padding-left: 18px; */
    /* color: #1ea394; */
}

.icon-previous {
  color: white;
    margin: auto;
    font-size: 28px;
    /* padding-right: 18px; */
    /* color: #1ea394; */
}

.next {
  display: flex;
  align-self: center;
  margin-left: 30px;
  background: white;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #1ea394;
  background: #1ea3947a;
  box-shadow: 0px 0px 20px #ffffff8f;
  border: 1px solid white;
  border-style: dashed;
  background: #0d1117;
  padding: 0;
  transition: all 0.2s;
  /* background: linear-gradient(to top, #172b62b5, #02022aa8); */
  /* transform: translate(100px, 300px); */

  /* background: linear-gradient(to top, #172b62b5, #02022aa8);
  border: 2px solid #1ea394; */

}
button {
  cursor: pointer;
}

.previous {
  display: flex;
  align-self: center;
  margin-right: 30px;
  background: white;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #1ea394;
  background: #1ea3947a;
  border: 1px solid white;
  box-shadow: 0px 0px 20px #ffffff8f;
  border-style: dashed;
  background: #0d1117;
  padding: 0;
  transition: all 0.2s;
  /* -webkit-tap-highlight-color: #1ea3947a; */
  
  /* box-sizing: content-box; */
  /* background: linear-gradient(to top, #172b62b5, #02022aa8); */
  /* transform: translate(-100px, 300px); */

  /* background: linear-gradient(to top, #172b62b5, #02022aa8);
  border: 2px solid #1ea394; */

}

.previous:hover, .next:hover {
  background: #1ea3947a;
  background: #1ea394;
  border-style: solid;
}

.d-flex {
  display: flex;
} 

.m-auto {
  margin: auto;
}

.next-prev-text {
  font-size: 18px;
}

.info-container {
  height: 60vh;
  position: absolute;
  bottom: 180px;
  box-sizing: border-box;
  right: 120px;
  width: 30vw;
  /* border: 3px solid white; */
  border-bottom-right-radius: 15px;
  background: linear-gradient(to top, #172b62b5, #02022aa8);
  z-index: 99999999999999999999999999999999999;
  /* border-color: #1ea394; */
  background: #1ea394;
  border-radius: 15px;
  padding: 0 20px;
  /* box-shadow: 0px 0px 50px white; */
  background: white;
  color: black;
  background: #0d1117;
  border: 3px solid #30363d;
  color: white;
  overflow: hidden;
  background: black;
  background: linear-gradient(to top, #172b62b5, #02022aa8);
  /* box-shadow: 0px 0px 10px  #1ea394; */
  /* box-shadow: 15px 5px 20px white; */
  padding: 0;
  border-color: #1ea394;
  /* border-color: blue; */
  /* border: none; */
  /* box-shadow: 0px 0px 20px #1ea3947a; */
  /* background: #1ea3947a; */
  /* border-color: #1ea394; */
  /* background: green; */
  
  /* background: #1ea3947a; */
  /* background: white; */
}

.list-info {
  text-align: initial;
  color: rgb(139, 148, 158);
  /* color: white; */
  font-size: 18px;
  background: #0000008c;
  flex: 1;
  height: 100%;
  margin: 0;
  color: white;
  padding-top: 20px;
  /* border-radius: 25px; */
  /* background: linear-gradient(to top, #172b62b5, #02022aa8); */
}

li {
  margin: 10px 0;
  padding-right: 15px;
}

.position-heading {
  background: white;
  color: black;
  margin-top: 0;
  padding-bottom: 20px;
  /* display: flex; */
  /* margin: auto; */
  padding-top: 20px;



  padding: 0;
  margin: 0;
  padding: 20px;
  background: #1ea394;
  color: white;
  /* background: black; */
  /* color: #1ea394; */
  /* border: 1px solid #1ea394; */
  z-index: 99999;
  /* background: white; */
  /* color: black; */
}



@media only screen and (max-width: 1400px) {

  .content {
    /* transform: translateX(-50%); */
    transform: translateX(-75%) scale(0.75);
    transform: translateX(-150%) scale(1.5);

  }

  .page-title {
    /* font-size: 34px; */
    right: 7%;
  }


}


@media only screen and (max-width: 1250px) {
  /* .content {
    transform: translateX(-75%) scale(0.75);
    transform: translateX(-150%) scale(1.5);
  } */

  .page-title {
    font-size: 46px;
    /* font-size: 34px; */
    right: 7%;
    /* right: 8%; */
    line-height: 50px;
  }

  .rankNum {
    font-size: 46px;
  }

  .title-line-2 {
    font-size: 24px;
  }

  .title-line-2 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  .content {
    /* transform: translateX(0); */
    transform: translateX(-65%) scale(0.65);
    transform: translateX(-130%) scale(1.3);
  }

  .page-title {
    font-size: 38px;
    /* font-size: 34px; */
    right: 6%;
    /* right: 8%; */
    line-height: 50px;
  }

  .title-line-2 {
    font-size: 24px;
  }

  .title-line-2 {
    margin-bottom: 20px;
  }

  .rankNum {
    font-size: 38px;
  }

 
}


@media only screen and (max-width: 992px) {
  .content {
    /* transform: translateX(0); */
    transform: translateX(-60%) scale(0.65);
    transform: translateX(-120%) scale(1.3);
  }
}

@media only screen and (max-width: 992px) {
  .content {
    /* transform: translateX(0); */
    transform: translateX(-0%) scale(0.9) translateY(25px);
    transform: translateX(-0%) scale(1.8) translateY(50px);
    transform: translateX(-25%) scale(1.8) translateY(20px);
  }

  .page-title-mobile { 

    display: block;
  }

  .page-title {
    left: 0;
    width: 100%;
    bottom: 20px;
    top: auto;
  }

  .title-line-1,
  .title-line-2 {
    display: none;
  }

  .previous, .next {
    border-style: solid;
  }

  .previous:hover, .next:hover {
    /* background: #1ea3947a; */
    background: black;
   

  }

}

@media only screen and (max-width: 576px) {
  .content {
    /* transform: translateX(0); */
    transform: translateX(-12%) scale(1.2);
    transform: translateX(-25%) scale(2.4);
  }

  .title-line-1-mobile {
    color: white;
    z-index: 99999999999999999999999999999;
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .title-line-2-mobile {
    color: white;
    font-size: 14px;
  }

  

  .page-title {
    left: 0;
    width: 100%;
    bottom: 0px;
    top: auto;
  }

  .next,
  .previous {
    width: 36px;
    height: 36px;
  }

  .icon-previous,
  .icon-next {
    font-size: 13px;
  }

  .rankNum {
    font-size: 22px;
    min-width: 40px;
  }

 



  /* .previous:hover, .next:hover {
    background: #1ea3947a;
    background: black;
    border-style: dashed;
  } */

  /* .previous:hover, .previous:active {
    background: #1ea394;
  } */

  .canvas-container {
    margin: auto;
    max-height: 667px;
  }


}
